.about {
    min-height: 100vh;

    h1 {
        color: $dark;
    }

    .avatar {
        width: 100%;
        max-width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid $primary;
        background: $white;
        margin: auto;
    }

    p {
        font-weight: 400;
    }

    .experience {
        text-transform: capitalize;
    }
}