.contact {
    min-height: 90vh;
    h2, h1 {
        color: $white;
    }

    ul {
        display: flex;

        li {
            align-items: center;
            margin-left: 1rem;


            &:first-child {
                margin-left: 0;
            }

            i {
                color: $white;
                cursor: pointer;
                font-size: 2.5rem;


                &:hover {
                    color: $primary;
                }
            }
        }
    }

}